.redes {
    grid-column: 1/3;
    border: 1px solid black;
    margin: 10px 0;
    background-color: #bdb5aa;
    display: flex;
    justify-content: space-evenly;
    
    }
    .redes-s{
        width:30px;
        opacity: .7;
    }
    .redes-s:hover{
        opacity: 1;
    }